
link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
<p>
  <mat-toolbar color="primary" class="menu">
    <a href="http://localhost:4200/home"><span>Critics</span></a>
    <span class="example-spacer"></span>
    <a href="http://localhost:4200/favorites"><button mat-icon-button class="icon favorite-icon" aria-label="Example icon-button with heart icon" >
      <mat-icon>favorite</mat-icon>
    </button></a>
    <button mat-icon-button class="icon" aria-label="Example icon-button with share icon">
      <mat-icon>rate_review</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="label"></div>
 <div class="button-row">
    <div class="flex-container">
      <div class="options">
        <a href="http://localhost:4200/add"><button mat-fab color="primary" aria-label="Example icon button with a delete icon" id="add-button">
          <mat-icon>add</mat-icon>
        </button></a>
        <a href="http://localhost:4200/savedMovies"><button mat-fab color="primary" aria-label="Example icon button with a bookmark icon" id="add-button">
          <mat-icon>bookmark</mat-icon>
        </button></a>
        <a href="http://localhost:4200/edit"><button mat-fab color="primary" aria-label="Example icon button with a home icon" id="add-button">
          <mat-icon>edit</mat-icon>
        </button></a>
        <a href="http://localhost:4200/avaliacoes">
        <button mat-fab color="primary" aria-label="Example icon button with a heart icon" id="add-button">
          <mat-icon>search</mat-icon>
        </button></a>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
