.menu{
  top: 0%;
  position: fixed;

}
.example-spacer {
  flex: 1 1 auto;
}

.icon {
  background-color: #c2185b;
  color: #ffffff;
  border: none;
}

.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 10%;
  position: fixed;
  right: 10%;
  top: 80%;
  cursor: pointer;

}

#add-button{
  color: white;

}
#add-button:hover {
  background-color: #9e0341;
  background: linear-gradient(top, #4f5964 0%, #9e0341 40%);
  transition: 500ms;
  }
.dropdown {
  position: relative;
  display: flex;
}
.dropdown-child {
  display: none;

  min-width: 200px;
}
.dropdown-child button {
  margin: 20px;
  text-decoration: none;
}
.dropdown:hover .dropdown-child {
  display: inline-block;
  justify-content: space-around;
  align-items: stretch;
}

.welcome{
  display: block;
  margin-top: 10%;
  position: fixed;
  margin-left: 42%;
}

h4{
  font-size: 40px;
  color: rgb(71, 48, 48);

}
.intro{

  margin-top: 8%;
  position: fixed;
  margin-left: -9%;

}

h1{
  font-family: 'Oooh Baby', cursive;
  font-size: 190px;
}
