.menu{
  top: 0%;


}
.example-spacer {
  flex: 1 1 auto;
}

.icon {
  background-color: #c2185b;
  color: #ffffff;
  border: none;
}

a{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Oooh Baby', cursive;
  font-size: 50px;
}

.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 10%;
  position: fixed;
  right: 10%;
  top: 80%;
  cursor: pointer;

}

#add-button{
  color: white;

}
#add-button:hover {
  background-color: #9e0341;
  background: linear-gradient(top, #4f5964 0%, #9e0341 40%);
  transition: 500ms;
  }

