.welcome{
  display: block;
  margin-top: 10%;
  position: fixed;
  margin-left: 42%;
}

h4{
  font-size: 40px;
  color: rgb(71, 48, 48);
}
.intro{

  margin-top: 8%;
  position: fixed;
  margin-left: -9%;
}

h1{
  font-family: 'Oooh Baby', cursive;
  font-size: 190px;
}
