<h1 class="title">Seus filmes avaliados</h1>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

<div id="movies">
  <p>Título</p>
  <h2>Categoria</h2>
</div>

